.productsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.productItem {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    
}

.productImage {
    width: 100%;

}

.productTitle {}

.productPrice {}